body{
    background-color:#fcaf98;
    color:black;
}
#main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
h2{
    text-shadow: 4px 3px 10px #ffffff;
    word-wrap:normal;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#ptab{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#pbody{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dcard{
    min-width: 150px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin:  5px ;
    padding: 10px 10px;
    box-shadow: 0px 13px 50px -1px rgba(0,0,0,0.28);
    font-size: 20px;
    text-align: center;
    font-size: 17px;
    background-color: #034c52;
    color:whitesmoke;
}
.tcard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin:  5px ;
    padding: 5px;
    color:whitesmoke;
    box-shadow: 0px 13px 50px -1px rgba(0,0,0,0.28);
    font-size: 20px;
    text-align: center;
    font-size: 17px;
    background-color: #034c52;
}
.newbuttn{
    position: absolute;
    bottom: 36px;
    right:36px;
    width:50px;
    height:50px;
    background-color: #034c52;
    color:whitesmoke;
    font-size: 1.9rem;
    border: #034c52;
    border-radius: 5px;
    box-shadow: 0px 13px 50px -1px rgba(0,0,0,0.28);
}